.img-box {
  display: flex; /* Utilisation de flexbox pour aligner les éléments */
  align-items: center; /* Aligner les éléments sur l'axe vertical */
  justify-content: space-between; /* Espacement égal entre les éléments */
  margin-bottom: 20px; /* Ajoute un espacement en bas */
}
.title-container {
  display: block; /* Afficher le titre comme un bloc */
}

.img-box h1 {
  font-size: 24px; /* Taille de police du titre */
  margin-bottom: 10px; /* Espacement en bas du titre */
}



.img-box img {
  max-width: 250%; /* Garantit que l'image ne dépasse pas sa largeur parente */
  height: auto; /* Permet à l'image de conserver son ratio hauteur/largeur */
  margin-right: 20px; /* Ajoute un espacement à droite de l'image */
}

.img-box form {
  flex: 1; /* Fait en sorte que le formulaire prenne le reste de l'espace disponible */
}

.img-box form label {
  display: block; /* Affiche chaque étiquette sur une nouvelle ligne */
  margin-bottom: 5px; /* Ajoute un espacement en bas de chaque étiquette */
}

.img-box form input {
  width: calc(50% - 5px); /* Largeur maximale des champs de saisie */
  padding: 5px; /* Ajoute un espace intérieur autour des champs de saisie */
  margin-bottom: 10px; /* Ajoute un espacement en bas de chaque champ de saisie */
}

.img-box form button {
  width: 20%; /* Le bouton occupe toute la largeur disponible */
  padding: 10px 20px; /* Ajoute un espace intérieur au bouton */
  font-size: 16px; /* Taille de police du bouton */
}
