<div>
  <br><br><br><br><br>
  <h2>List Voitures</h2>
  <table class="table table-dark">
    <thead>
      <tr>
        <th>ID</th>
        <th>Marque</th>
        <th>Année</th>
        <th>Prix</th>
        <th>Matricule</th>
        <th>Numéro de Chassi</th>
        <th>QR Code</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let voiture of voitures">
        <td>{{ voiture.id }}</td>
        <td>{{ voiture.marque }}</td>
        <td>{{ voiture.annee }}</td>
        <td>{{ voiture.prix }}</td>
        <td>{{ voiture.matricule }}</td>
        <td>{{ voiture.numDeChoussi }}</td>
        <td>
          <img
            *ngIf="qrCodeImages[voiture.id]"
            [src]="qrCodeImages[voiture.id]"
            alt="QR Code"
            style="max-width: 100px; max-height: 100px;"
          />
        </td>
        <td>
          <button class="btn btn-danger" (click)="confirmationDelete(voiture)">Delete</button>&nbsp;
          <button class="btn btn-primary" (click)="updateVoiture(voiture.id)">Update</button>
        </td>
      </tr>
    </tbody>
  </table>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>

<!-- Modal for delete confirmation -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this Voiture?</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="closeDelete()">No</button>
        <button type="button" class="btn btn-danger" (click)="deleteVoiture()">Yes</button>
      </div>
    </div>
  </div>
</div>